input{
    margin:10px;
}

h1{
    margin-top: 20px;
}
form{
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    justify-content: center; }

body{
    justify-content: center;
}